

.button {
background-color: blue;
color: white;
border-style: solid;
border-radius: 10px;
border-color: rgb(2, 2, 136);
text-decoration: none;
}
.copyright{
    color: black;
    font-size: x-small;
    font-family: 'Franklin Gothic Medium';
}
.header{
    border: 2px, black;
    background-image: url('caves_and_cliffs_background.png');
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
    text-align: center;
    align-content: center;
    color: white;
    text-shadow:
            -2px -2px 0 black,  
            2px -2px 0 black,  
            -2px 2px 0 black,  
            2px 2px 0 black;  
    letter-spacing: 2px;
    font-size: xx-large;
    
}
.note{
    font-family:minecraft;
    font-size: x-small;
}
.page_link1{
    border: 2px black solid;
    height: 170px;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: x-large;
    background-image:url(surface-level.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
        color: rgb(121, 77, 36);
    text-shadow:
            -1px -1px 0 rgb(147, 192, 97),  
            -1px 1px 0 rgb(114, 181, 75),
            1px -1px 0 rgb(99, 163, 53), 
            1px 1px 0 rgb(96, 159, 54),
            -1px 5px 0 black;

    letter-spacing: 3px;
}
.page_link2{
    border: 2px black solid;
    height: 170px;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: x-large;
    background-image: url(ore-level.png);
    background-size: cover;
    background-position: center;
    color: rgb(112, 111, 110);
    text-shadow:
            -1px -1px 0 rgb(211, 251, 251),  
            -1px 1px 0 rgb(78, 213, 206),
            1px -1px 0 rgb(102, 181, 178), 
            1px 1px 0 rgb(44, 183, 164),
            -1px 5px 0 black;

}
.page_link3{
    border: 2px black solid;
    height: 170px;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: x-large;
    background-image: url(nether.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(173, 51, 49);
    text-shadow: 
            1px -1px 0 rgb(99, 41, 40),  
            -1px 1px 0 rgb(81, 19, 21),
            1px -1px 0 rgb(78, 28, 27), 
            1px 1px 0 rgb(64, 23, 23),
            -1px 5px 0 black;
}
.page_link4{
    border: 2px black solid;
    height: 170px;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: x-large;
    background-image: url(end.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(237, 243, 182);
    text-shadow: 
         1px -1px 0 rgb(123, 129, 59),  
            -1px 1px 0 rgb(123, 129, 59),
            1px -1px 0  rgb(123, 129, 59),
            1px 1px 0 rgb(123, 129, 59),
            -1px 5px 0 black;
    letter-spacing: 3px;
}
a{
    text-decoration: none;
}
p{
    font-family:minecraft;
}
h1{
    font-family:header ;
}

h2{
   font-family: header;
}

h3{
  font-family:header;

}

ul{
   font-family: minecraft;
}

ol{
   font-family: minecraft;
   font-size: -2px;
}
@font-face {
    font-family: minecraft;
    src: url(Minecraft.ttf);

}
@font-face {
    font-family: header;
    src: url(minecrafter.ttf);
    font-size: larger;
}

.icon{
    width: 40px;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right:auto;
    transform: translateY(-30px);
}
.line{
    width: auto;
}

.back-image{
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 300px;
}
.words{
    text-align: center;
    font-size:x-large;
    color: black;
}
.buttons{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-evenly;
    justify-content: center;
}
.button-icons{
    width: 500px;
}