body{

}
.button {
background-color: blue;
color: white;
border-style: solid;
border-radius: 10px;
border-color: rgb(2, 2, 136);
text-decoration: none;
}
.copyright{
    color: black;
    font-size: x-small;
    font-family: 'Franklin Gothic Medium';
}
.header{
    border: 2px, black;
    background-image: url('caves_and_cliffs_background.png');
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100px;
    text-align: center;
    align-content: center;
    color: white;
    -webkit-text-stroke: 1px black;
}
.note{
    font-family:minecraft;
     src:url(minecraft.ttf);
    font-size: x-small;
}
p{
    font-family:minecraft;
     src:url(Minecraft.ttf);
}
h1{
    font-family:header ;
}

h2{
   font-family: header;
}

h3{
font-family:header;

}

ul{
font-family: minecraft;
}

ol{
font-family: minecraft;
font-size: -2px;
}
@font-face {
    font-family: minecraft;
    src: url(Minecraft.ttf);

}
@font-face {
    font-family: header;
    src: url(minecrafter.ttf);
}
hr{

}